.project{
    background: var(--bodyColor);
    height: auto;
    width: auto;
    padding: 0 80px;
  
}
.project-title{
    text-align: center;
    
}

.project-container{
   
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

